* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
@font-face {
    font-family: 'space-explorer';
    src: url(./assets/fonts/SPACE\ EXPLORER.woff);
    font-weight: normal;
    font-style: normal;
}
:root {
    --pink: #ed1250;
    --transparent-black: rgba(0,0,0,0.5);
}
body {
    background-image: url(./assets/images/5509862.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
html,
body {
    min-height: 100%;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, 
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-black);
    min-height: 8vh;
    color: white;
    flex-shrink: 0;
}
footer {
    min-height: 4vh;
}
a {
    color: white;
    text-decoration: none; 
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
header button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}
header button:hover {
    color: var(--pink);
    cursor: pointer;
}
.active {
    color: var(--pink);
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex: 1;
}
#content h1{
    font-size: 3rem;
    border-bottom: 1px solid white;
    font-family: 'space-explorer', sans-serif;
}
section {
    margin-top: 40px;
}
section h2 {
    color: var(--pink);
    font-family: 'space-explorer';
}
section#headline ~ section {
    background-color: var(--transparent-black);
    width: 45%;
    border-radius: 10px;
    padding: 15px;
}
.home section :nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}
section#menu,
.contact .grid-wrapper {
    background-color: var(--transparent-black);
    padding: 25px;
    border-radius: 10px;
}
div.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}
span.price-separator {
    flex-grow: 1;
    border-bottom: solid;
    border-bottom-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--pink);
} 
.contact .grid-wrapper {
    margin-top: 45px;
}
section#info > p {
    font-size: 1.6rem;
}
.phone-number {
    font-weight: bolder;
    letter-spacing: 1.2px;
}
.email-link {
    color: var(--pink);
}